@model WebShop.Bo.Product

@{
    ViewData["Title"] = "Details";
}


    <div class="col-sm-6">
        <img id="details-img" src="@Url.Content(Model.ImageUrl)" />
    </div>

    <div class="col-sm-6">
        <div class="caption">
            <h3>Price: @Model.Price.ToString("c")</h3>
            <h3>@Model.Title</h3>
            <p>@Model.Description</p>
        </div>
        <div>
            <a class="btn" id="cartButton"
               asp-controller="ShoppingCart"
               asp-action="AddToShoppingCart"
               asp-route-productId="@Model.ProductID">
                Add to cart
            </a>
            <a asp-action="List">Back to products</a>
        </div>
    </div>


