@using WebShop.Bo
@model IEnumerable<WebShop.Bo.Product>

@{
    ViewData["Title"] = "Index";
}
<style type="text/css">
    .product {
        margin: 10px 0;
        background-color: #DCDCDC;
    }
    span {
        display: block;
    }
    .btn {
        padding: 5px 10px;
        border: 1px solid #000;
        color: #000000;
        background-color: #FFF;
    }
</style>

<h2>Products</h2>


@foreach (var item in Model)
{
    <div class="col-sm-4 product">
        <span>
            @Html.DisplayFor(modelItem => item.Description)
            @Html.DisplayFor(modelItem => item.Price)
        </span>
        <span>
            <a asp-action="Buy" asp-route-id="@item.ProductID"><img src="@Url.Content(item.ImageUrl)" height="100px" /></a>
        </span>
        <span>
            <a asp-action="Buy" asp-route-id="@item.ProductID" type="button" class="btn btn-secondary">Buy</a>
            <a asp-action="Details" asp-route-id="@item.ProductID" type="button" class="btn btn-secondary">Details</a>
        </span>
</div>
}

