@using WebShop.Bo
@model WebShop.Web.ViewModels.ExtraPurchaseViewModel

@{
    ViewData["Title"] = "Done";
}

<h2>Your purchase was succesfull</h2>

<h3>You can add the following item to your purchase</h3>

<div class="col-sm-6">
    <img height="200px" src="@Url.Content(Model.Product.ImageUrl)" />
    <div class="caption">
        <h3>Price: @Model.Product.Price.ToString("c")</h3>
        <h3>@Model.Product.Title</h3>
        <p>@Model.Product.Description</p>
    </div>
    <div>
        
        <input type="button" class="btn" value="Add to order" onclick="location.href='@Url.Action("AddUpSaleToOrder", @Model)'" /> @*/PurchaseOrder?purchaseId=324235324526?orderId=131432*@

    </div>
</div>
<div class="col-sm-6">
    @ViewData["description"]
    <input type="button" class="btn" value="Complete" onclick="location.href='@Url.Action("PurchaseOrder", @Model)'" />
</div>
